<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 監視対象ログファイルフルパス -->
    <add key="TargetLogFileFullPath" value="C:\瑞希\LogMonitoring\log\Sample.log" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>